.env
.env.*
!.env.example

.git
.gitignore

.venv
.pytest_cache
__pycache__
**/__pycache__

tests
docs

.mypy_cache
.ruff_cache
.coverage
htmlcov

.DS_Store
*.pyc
*.pyo
*.pyd

mcp_server
cleanup_seed_data.py
seed_data.py

README.md